body {
    font-family: Candara;
}

.addlayanan button {
    border-radius: 5px;
    border-color: #7f8ba3;
    background-color: #7f8ba3 ;
    /* height: 17%;
    width: 17% ; */
    max-width: 22%;
    min-width: 15%;
}
